# Emacs backup
*~
# Emacs . #history.txt#  - NOte this does NOT work
*[#]*[#]
*[#]*
# Various old output files. 
ejf/hwnorm1c/whitelist/output/2016*/*
ejf/hwnorm1c/whitelist/output/cae-ccs/*
ejf/hwnorm1c/whitelist/old/*
ejf/hwnorm1c/temp*
*.pyc
